<section class="secondaryBg">
    <div class="home-header">
        <div class="w-100 just-content-center align-items-center o-flex">
           <div class="quote-container">
                <div class="company-quote">
                    <h1> ABOUT.</h1>
                </div>   
           </div>     
        </div>
        <div class="w-100">
            <img src="assets/images/bg1.jpg" class="w-100 border-radius" alt="">
        </div>
    </div>
</section>
<section>
    <div class="about-fx">
        <div class="dash"></div>
        <h1 class=""> ADROIT-FX TRACK  </h1>
    </div>
    <div class="about-text">
        <p>
            Adroit-Fx Track is an online application for tracking all trades. The application is meant to help you become a stronger trader. Essentially, it is an online trading database for keeping records of what happened during a trade. You may include market condition, the size of the trade, expiration time, prices whether or not were successful and even note your emotion.
        </p>
        <p>
            Adroit-Fx Track is a log that you can use to record your trades. Traders use a trading journal to reflect upon previous trades so that they may evaluate themselves. You can use journals to evaluate where you can improve your trading. They are a useful form of record keeping. Adroit-Fx Track can help you refine your strategies based on learning from previous experiences. Just as a business owner tracks inventory, a trader should also keep up with their closed positions
        </p>
    </div>
</section>
<section>
    <div class="all-division">
        <div class="w-100">
            <div class="all-we-do secondaryBg w-100">
                <h1> ALL WE DO FOR YOU </h1>
            </div>
            <div class="all-we-do-text">
                Online Database Trading Journal
            </div>
            <div class="all-we-do-text">
                Methodology Verification With Our Online Journal
            </div>
            <div class="all-we-do-text">
                Our Online Trading As a Planning Tool
            </div>
            <div class="all-we-do-text">
                Improve Your Risk Management with Our Trading Journal
            </div>
            <div class="all-we-do-text">
                Bring Consistency
            </div>
        </div>
        <div class="w-100">
            <img src="assets/images/undraw2.jpg" class="w-100" alt="">
        </div>
    </div>
</section>