.nav-header {
    background: #fb0000;
}

.tog-header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.5rem
}
.toggle {
    font-size:1.3rem ;
    color:white;
    font-weight: 700;
}
.text-header {
    font-size:1.3rem ;
    color:white;
    font-weight: 700;
}