<div class="side-bar-container" *ngIf="show">

    <div class="profile-container">
        <div>
            <img src="assets/images/person2.jpg" class="w-100 profile-image" alt="">
        </div>
        <div class="profile-details">
            <p> <b> Akinremi Opeyemi Hamod</b> </p>
            <p class="verified"> verified</p>
        </div>
        <div>
            <img src="assets/images/settings.svg" alt="">
        </div>
    </div>

    <div class="white-shade">
        <div class="nav-list w-100">
            <img src="assets/images/dash-iicon.svg" alt="">
            <p class="menu-list"> Dashboard </p>
        </div>
    
        <div class="nav-list">
            <img src="assets/images/timesheet-icon.svg" alt="">
            <p class="menu-list"> My Journal </p>
        </div>
    
        <div class="nav-list">
            <img src="assets/images/timesheet-icon.svg" alt="">
            <p class="menu-list"> Watch List Market </p>
        </div>

        <div class="nav-list">
            <img src="assets/images/timesheet-icon.svg" alt="">
            <p class="menu-list"> Waiting Market </p>
        </div>
    </div>

    <div class="white-shade">
        <div class="nav-list">
            <img src="assets/images/timesheet-icon.svg" alt="">
            <p class="menu-list"> Trading News </p>
        </div>
    
        <div class="nav-list">
            <img src="assets/images/timesheet-icon.svg" alt="">
            <p class="menu-list"> Calendar</p>
        </div>
    
        <div class="nav-list">
            <img src="assets/images/timesheet-icon.svg" alt="">
            <p class="menu-list"> Market Analysis </p>
        </div>

        <div class="nav-list">
            <img src="assets/images/timesheet-icon.svg" alt="">
            <p class="menu-list"> Trading Signal </p>
        </div>
    </div>

    <div class="white-shade">
        <div class="nav-list">
            <img src="assets/images/timesheet-icon.svg" alt="">
            <p class="menu-list"> Account Settings  </p>
        </div>
    
        <div class="nav-list">
            <img src="assets/images/timesheet-icon.svg" alt="">
            <p class="menu-list"> Live Chat</p>
        </div>
    
        <div class="nav-list">
            <img src="assets/images/logout.svg" alt="">
            <p class="menu-list"> Logout </p>
        </div>
    </div>
</div>
