<div class="secondaryBg">
    <div class=" footer w-100">
        <div class="w-100">
            <h4 class="heading"> CONTACT INFO</h4>
            <p class="heading-p"> 08164950695 </p>
            <p class="heading-p"> contact@adroit-fx.com</p>
        </div>
        <div class="w-100">
            <h4 class="heading logo-margin-bottom center-text"> ADROIT-FX TRACK</h4>
            <p class="heading-p center-text"> There are many varieties of Lorem Ipsum be the mejority </p>
          
        </div>
        <div class="w-100">
            <h4 class="heading center-text"> CONTACT INFO</h4>
            <p class="heading-p center-text"> 08164950695 </p>
            <p class="heading-p center-text"> contact@adroit-fx.com</p>
        </div>
    </div>
    <div class="copy-right">
        <p class="center-text"> Copyright &copy; 2022 All right reserved</p>
    </div>
</div>
