.footer {
    display: grid;
    grid-template-columns: (30% 40% 30%);
    padding: 3%;
    justify-content: space-between;
    color: white;
    align-items: center;

    .heading {
        font-size: 1.5rem;
        font-weight: 700;
        font-family: "Chivo",sans-serif;
        margin-bottom: 1.3rem;
    }
    .heading-p {
        font-size: 1rem;
        font-family: "Open Sans",sans-serif;
        color: #675e5e;
        margin-bottom: .5rem;
    }
    
}
.copy-right{
    border-top: 1px solid #675e5e;
    color: #675e5e;
   padding: .5rem;
   font-family: "Open Sans",sans-serif;
}
.logo-margin-bottom {
    margin-bottom: 2rem;
}
.center-text {
    text-align: center;
}

@media (max-width:500px) {
    .footer {
        display: block;
    }
    .center-text {
        text-align: left;
    }
}