<app-client-login-headnav (toggle)="toggleMenu()"></app-client-login-headnav>
<app-client-login-sidebar [show]="showMenu"></app-client-login-sidebar>
<div class="main-login-container">
    <div class="icon-with-value">
       <div class="icon-card icon-card1">
            <p class="card-title">My Journal</p>
            <div class="o-flex align-items-center justify-content-between">
                <img src="assets/images/Group 30799.svg" alt="">
                <h3> 478</h3>
            </div>
            <div class="o-flex align-items-center view "><p>view </p> <img src="assets/images/right-arr.png" alt=""></div>
       </div>
       <div class="icon-card icon-card1">
        <p class="card-title">My Watchlist</p>
        <div class="o-flex align-items-center justify-content-between">
            <img src="assets/images/clock-icon.png" alt="">
            <h3> 478</h3>
        </div>
        <div class="o-flex align-items-center view "><p>view </p> <img src="assets/images/right-arr.png" alt=""></div>
       </div>

       <div class="icon-card icon-card1">
        <p class="card-title">Running Trades</p>
        <div class="o-flex align-items-center justify-content-between">
            <img src="assets/images/chart-icon.png" alt="">
            <h3> 478</h3>
        </div>
        <div class="o-flex align-items-center view "><p>view </p> <img src="assets/images/right-arr.png" alt=""></div>
       </div>

       <div class="icon-card icon-card1">
        <p class="card-title">Waiting Market</p>
        <div class="o-flex align-items-center justify-content-between">
            <img src="assets/images/Group 30799.svg" alt="">
            <h3> 478</h3>
        </div>
        <div class="o-flex align-items-center view "><p>view </p> <img src="assets/images/right-arr.png" alt=""></div>
       </div>
    </div>

    <div>
        <p> <b> Monthly Reports </b> </p>
        <div>
            <img src="assets/images/chart.png" class="w-100" alt="">
        </div>
    </div>

    <div>
        <div class="recent-watchlist">
            <p> <b>Recent Market on Watchlist</b></p>
            <div class="recent-list">
                <p> USDJPY</p>
                <p class="downtrend"> Downtrend </p>
            </div>

            <div class="recent-list">
                <p> USDCAD</p>
                <p class="uptrend"> Uptrend </p>
            </div>

            <div class="recent-list">
                <p> AUDJPY</p>
                <p class="downtrend"> Downtrend </p>
            </div>

            <div class="recent-list">
                <p> EURJPY</p>
                <p class="uptrend"> Uptrend </p>
            </div>

            <div class="recent-list">
                <p> XAUUSD</p>
                <p class="uptrend"> Uptrend </p>
            </div>

        </div>

        <div>
            <div class="recent-watchlist">
                <p> <b>Major Currency Pairs </b></p>
                <div class="recent-list major-currency">
                    <p> USD</p>
                    <p class="downtrend"> Weak </p>
                </div>
    
                <div class="recent-list major-currency">
                    <p> CAD</p>
                    <p class="uptrend"> Strong </p>
                </div>
    
                <div class="recent-list major-currency">
                    <p> AUD</p>
                    <p class="downtrend"> Weak </p>
                </div>
    
                <div class="recent-list major-currency">
                    <p> EUR</p>
                    <p class="uptrend"> Strong </p>
                </div>

                <div class="recent-list major-currency">
                    <p> GBP</p>
                    <p class="downtrend"> Weak </p>
                </div>
    
                <div class="recent-list major-currency">
                    <p> JPY</p>
                    <p class="uptrend"> Strong </p>
                </div>
                
                <div class="recent-list major-currency">
                    <p> NZD </p>
                    <p class="downtrend"> Weak </p>
                </div>
            </div>
        </div>
        
    </div>
</div>