<section class="secondaryBg">
    <div class="home-header">
        <div class="w-100 just-content-center align-items-center o-flex">
           <div class="quote-container">
                <div class="company-quote">
                    <h1> WE'RE THE LAST OF BREED.</h1>
                </div>  
                <div class="dream">
                    <h5 class="">Achieve your Financial Dream</h5>
                    <div class="o-flex align-items-center justify-content-center mt">
                        <button class="login-btn cursor-pointer" routerLink="/client-login"> Get Started</button>
                    </div>
                </div>     
           </div>     
        </div>
        <div class="w-100">
            <img src="assets/images/bg1.jpg" class="w-100 border-radius" alt="">
        </div>
    </div>
</section>
<section class="mission-content">
    <div class="mission-division">
        <div class="w-100">
            <div class="o-flex align-items-center gap">
                <div class="w-20">
                    <img src="assets/images/right-arrow.svg" width="50px"   alt="">
                </div>
                <div class="arrow-text w-80">
                    Identify and review your weakness
                </div>
            </div>
            <div class="o-flex align-items-center s-mt w-100">
                <div class="w-20">
                    <img src="assets/images/right-arrow.svg" width="50px"   alt="">
                </div>
                <div class="arrow-text w-80">
                    Learn and work your weakness
                </div>
            </div>
            <div class="o-flex align-items-center s-mt w-100">
                <div class="w-20">
                    <img src="assets/images/right-arrow.svg" width="50px"   alt="">
                </div>
                <div class="arrow-text w-80">
                    Set up your forex trading goals
                </div>
            </div>
            <div class="o-flex align-items-center gap s-mt">
                <div class="w-20">
                    <img src="assets/images/right-arrow.svg" width="50px"   alt="">
                </div>
                <div class="arrow-text w-80">
                    Improve your forex trading psychology 
                </div>
            </div>
        </div>

        <div class="w-100">
            <img src="assets/images/undraw1.jpg" class="w-100" alt="">
        </div>

        <div class="w-100">
            <div class="dash"></div>
            <div class="our-mission">
                <h1> Our Mission </h1>
                <p>
                    Our mission is to help forex traders to keep track of their trades, actions in their trading account where they can measure their strong points and review their weaknesses in their strategies and methodology in order to make improvement.
                </p>
            </div>
        </div>
    </div>

    <div class="all-division">
        <div class="w-100">
            <div class="all-we-do secondaryBg w-100">
                <h1> ALL WE DO FOR YOU </h1>
            </div>
            <div class="all-we-do-text">
                Online Database Trading Journal
            </div>
            <div class="all-we-do-text">
                Methodology Verification With Our Online Journal
            </div>
            <div class="all-we-do-text">
                Our Online Trading As a Planning Tool
            </div>
            <div class="all-we-do-text">
                Improve Your Risk Management with Our Trading Journal
            </div>
            <div class="all-we-do-text">
                Bring Consistency
            </div>
        </div>
        <div class="w-100">
            <img src="assets/images/undraw2.jpg" class="w-100" alt="">
        </div>
    </div>

    <div class="review">
        <div class="client-say">
            <div class="dash"></div>
            <h1 class=""> Clients Say About Us </h1>
        </div>
        <div class="client-division">
            <div class="w-100">
                <p class="review-text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos quidem illum vel omnis ea nesciunt necessitatibus fugit, ipsa, nobis, odio voluptates. Officiis cumque, mollitia velit excepturi unde ipsum officia doloremque.
                </p>
                <div class="o-flex align-items-center gap s-mt">
                    <div class="w-20">
                        <img src="assets/images/right-arrow.svg"  alt="">
                    </div>
                    <div class="w-80">
                        <h4> Adroit Eleniyan</h4>
                    </div>
                </div>
            </div>
            <div>
                <p class="review-text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos quidem illum vel omnis ea nesciunt necessitatibus fugit, ipsa, nobis, odio voluptates. Officiis cumque, mollitia velit excepturi unde ipsum officia doloremque.
                </p>
                <div class="o-flex align-items-center gap s-mt">
                    <div class="w-20">
                        <img src="assets/images/right-arrow.svg"  alt="">
                    </div>
                    <div class="w-80">
                        <h4> Adroit Eleniyan</h4>
                    </div>
                </div>
            </div>
            <div>
                <p class="review-text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos quidem illum vel omnis ea nesciunt necessitatibus fugit, ipsa, nobis, odio voluptates. Officiis cumque, mollitia velit excepturi unde ipsum officia doloremque.
                </p>
                <div class="o-flex align-items-center gap s-mt">
                    <div class="w-20">
                        <img src="assets/images/right-arrow.svg"  alt="">
                    </div>
                    <div class="w-80">
                        <h4> Adroit Eleniyan</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
