<section class="secondaryBg">
    <div class="home-header">
        <div class="w-100 just-content-center align-items-center o-flex">
           <div class="quote-container">
                <div class="company-quote">
                    <h1> CONTACT.</h1>
                </div>   
           </div>     
        </div>
        <div class="w-100">
            <img src="assets/images/bg1.jpg" class="w-100 border-radius" alt="">
        </div>
    </div>
</section>
<section>
    <div class="contact-division">
        <div class="w-100">
            <h2> Get in Touch</h2>
            <div>
                <textarea name="" id="" cols="30" rows="10" class="w-100" placeholder="Enter Message Here..."></textarea>
            </div>
            <div class="o-flex gap-3">
                <input type="text" class="w-50" placeholder="Your Name...">
                <input type="email" class="w-50"  placeholder="Your Email Address...">
            </div>
            <div>
                <input type="text"  placeholder="Subject..." class="w-100">
            </div>
            <div>
                <button class="submit cursor-pointer"> Send </button>
            </div>
        </div>
        <div class="w-100 o-flex align-items-center">
            <div class="w-100 all-center">
                <h1 class="contact-add"> Contact Address </h1>
                <div>
                    <p class="bold-black"> Buttonwood, California </p>
                    <p class="faint-black">Rosemead, CA 91770</p>
                </div>
                <div class="c-mt">
                    <p class="bold-black"> +1 9778 5323 456 </p>
                    <p class="faint-black">Mon to Fri 9am - 5pm</p>
                </div>
                <div class="c-mt">
                    <p class="bold-black"> support@adroit-fxtrack.com </p>
                    <p class="faint-black">Send us your query anytime!</p>
                </div>
            </div>
        </div>

    </div>
</section>